.form-container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #0b3574, #222b67, #2c2259, #30184c, #310f3e);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs-group {
    box-shadow: 5px 5px 10px 10px #100f5f;
    padding: 20px 10px;
    width: 500px;
    height: 400px;
    background-color: #fff;
}